<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.demo.user.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.cy.demo.user.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>


  <sql id="User_List">
    id, name
  </sql>


  <select id="get" resultMap="BaseResultMap" parameterType="com.cy.demo.user.entity.User" >
    select
    <include refid="User_List" />
    from user
  </select>




</mapper>